<!-- Purple Line Stations LRT-2 - Diagonal line -->
<div class="station purple-line" style="left: 4%; top: 31%;" data-station="Recto">
    <div class="station-dot"></div>
</div>
<div class="station purple-line" style="left: 10%; top: 32%;" data-station="Legarda">
    <div class="station-dot"></div>
</div>
<div class="station purple-line" style="left: 18%; top: 31%;" data-station="Pureza">
    <div class="station-dot"></div>
</div>
<div class="station purple-line" style="left: 27%; top: 30%;" data-station="V. Mapa">
    <div class="station-dot"></div>
</div>
<div class="station purple-line" style="left: 33%; top: 27%;" data-station="J. Ruiz">
    <div class="station-dot"></div>
</div>
<div class="station purple-line" style="left: 38%; top: 25%;" data-station="Gilmore">
    <div class="station-dot"></div>
</div>
<div class="station purple-line" style="left: 43%; top: 22%;" data-station="Betty Go-Belmonte">
    <div class="station-dot"></div>
</div>
<div class="station purple-line transfer" style="left: 50%; top: 20%;" data-station="Araneta Center-Cubao LRT-2">
    <div class="station-dot"></div>
</div>
<div class="station purple-line" style="left: 58%; top: 17%;" data-station="Anonas">
    <div class="station-dot"></div>
</div>
<div class="station purple-line" style="left: 63%; top: 15%;" data-station="Katipunan">
    <div class="station-dot"></div>
</div>
<div class="station purple-line" style="left: 73%; top: 20%;" data-station="Santolan LRT-2">
    <div class="station-dot"></div>
</div>
<div class="station purple-line" style="left: 81%; top: 21%;" data-station="Marikina-Pasig">
    <div class="station-dot"></div>
</div>
<div class="station purple-line" style="left: 96%; top: 19%;" data-station="Antipolo">
    <div class="station-dot"></div> 
</div>