<!-- Yellow Line Stations LRT-1 - Vertical line on the left -->
<div class="station yellow-line" style="left: 4%; top: 3%;" data-station="Monumento">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 4%; top: 8%;" data-station="R. Papa">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 3%; top: 13%;" data-station="Abad Santos">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 2%; top: 16%;" data-station="Blumentritt">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 3%; top: 23%;" data-station="Tayuman">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 3%; top: 26%;" data-station="Bambang">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line transfer" style="left: 3%; top: 29%;" data-station="Doroteo Jose">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 2%; top: 33%;" data-station="Carriedo">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 2%; top: 40%;" data-station="Central Terminal">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 4%; top: 42%;" data-station="United Nations">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 7%; top: 46%;" data-station="Pedro Gil">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 9%; top: 49%;" data-station="Quirino Ave.">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 11%; top: 52%;" data-station="Vito Cruz">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 13%; top: 57%;" data-station="Gil Puyat">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 14%; top: 61%;" data-station="Libertad">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 15%; top: 66%;" data-station="EDSA">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 14%; top: 69%;" data-station="Baclaran">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 10%; top: 71%;" data-station="Redemption-ASEANA">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 10%; top: 78%;" data-station="MIA Road">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 9%; top: 83%;" data-station="ASIA World">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 11%; top: 88%;" data-station="Ninoy Aquino Ave.">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 9%; top: 96%;" data-station="Dr. Santos">
    <div class="station-dot"></div>
</div>
<!--Top part--> 
<div class="station yellow-line" style="left: 18%; top: 1%;" data-station="Balintawak">
    <div class="station-dot"></div>
</div>
<div class="station yellow-line" style="left: 29%; top: 1%;" data-station="Roosevelt">
    <div class="station-dot"></div>
</div>