* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

html {
  scroll-behavior: smooth;
  
}

/* BODY */
body {
  font-family: "Montserrat", sans-serif;
  background: url('../images/project-background.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 20px;
  min-width: 1024px;
  overflow-x: auto;
}

/* MAIN SECTION */
.main-preview {
  max-width: 1800px;
  width: 100%; 
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
  margin: 8vh auto;
  
  min-width: 750px;
  flex-shrink: 0;
}

/* SLIDING CONTENT */
.arrow {
  background: transparent;
  border: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  user-select: none;
  z-index: 20;
  padding: 0 1vw;
  transition: opacity 0.3s ease;
}
.arrow:hover { 
  opacity: 0.7; 
}

.arrow:active { 
  opacity: 0.4;
}

.sliding-content {
  width: 100%;
  max-width: 2800px; 
  min-width: 750px;
  height: 300px;    
  background-color: transparent;
  border-radius: 20px;
  padding: 0;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: stretch;
  justify-content: center;
}

/* SLIDER TEXT & INDICATORS */
.slider-container {
  display: flex;
  width: 300%; 
  height: 100%; 
  transition: transform 0.4s ease-in-out; 
  animation: none;
}

.slide {
  width: 33.334%; 
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  transition: 0.1s;
  cursor: pointer;
}

.slide img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  display: block;
}
.slide:hover {
  opacity: 0.8;
}

@keyframes slide {
  0% { transform: translateX(0); } 
  33% { transform: translateX(-33.33%); } 
  66% { transform: translateX(-66.66%); } 
  100% { transform: translateX(0); } 
}

.slider-indicators {
  position: absolute;
  bottom: 1vw;
  left: 20%;
  transform: translateX(-50%);
  display: flex;
  gap: 1vw;
}

.indicator {
  width: 3vw;
  max-width: 40px;
  height: 4px;
  background: #a50204;
  border-radius: 2px;
  opacity: 0.9;
  cursor: pointer;
}

.indicator.active {
  opacity: 1;
  background: white;
}

.vertical-links {
  position: fixed;
  right: 40px;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 100;
}

.link-box {
  width: 240px;       
  height: 400px;     
  background-color: rgba(165, 2, 4, 0.8);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.link-box a {
  color: white;
  text-decoration: none;
  writing-mode: horizontal-tb;
  font-size: 1.2rem;    
  letter-spacing: 2px;   
  transition: all 0.3s ease;
  text-align: center;
  padding: 10px;
}

.link-box:hover {
  background-color: rgba(255, 0, 0, 0.9);
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}