body {
    font-family: sans-serif;
}

/* POPUP OVERLAY */
.popup-overlay-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: none;
}

.popup-overlay-wrapper.active {
    display: flex;
    pointer-events: all;
}

.popup-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #aa1313;
    max-width: 800px;
    min-width: 800px;
    min-height: 600px;
    max-height: 1200px;
    border-radius: 20px;
}

.main-content {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    margin-top: 30px;
}

.left-content {
    flex: 1;
    max-width: 600px;
    color: white;
    margin-top: 40px;
    margin-left: 12px;
}

.text-content {
    display: flex;
    flex-direction: column;
    height: 380px;
    overflow-y: auto;
}

h2 {
    text-align: left;
    font-size: 44px;
    margin: 0;
}

p {
    margin-top: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    word-break: break-word;
    overflow-wrap: break-word;
    padding-right: 8px;
}

.button-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 60px;
}

.left-button {
    display: flex;
}

.right-button {
    display: flex;
}

.inner-btn {
    padding: 15px 0px;
    width: 150px;
    background-color: #600505;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.inner-btn:hover {
    opacity: 0.7;
}

.inner-btn:active {
    opacity: 0.4;
}

.img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    height: 500px;
    width: 300px;
    border-radius: 10px;
    margin-top: 30px;
    object-fit: cover;
    display: block;
}

