<div class="left-sidebar">
    <div class="edit-button">EDIT GRAPH</div>
        
    <div class="saved-graph-box">
        <div class="graph-icon">
            <div class="graph-icon-cell"></div>
            <div class="graph-icon-cell"></div>
            <div class="graph-icon-cell"></div>
            <div class="graph-icon-cell"></div>
        </div>
        <div class="saved-graph-text">NO SAVED GRAPH</div>
    </div>

    <div class="create-button-container">
        <div class="create-icon">
            <svg viewBox="0 0 24 24" fill="none" stroke="#7f1d1d" stroke-width="2">
                <path d="M3 3v18h18M7 16l4-4 4 4 6-6"/>
            </svg>
        </div>
        <div class="create-button">CREATE NEW GRAPH</div>
    </div>
</div>

