<!-- Right Content Area -->
<div class="bt-content-area" id="contentArea">
    <!-- Empty State -->
    {% include url_for('templates', filename='components/binary_tree/empty_state.html') %}

    <!-- Add/Edit Contact Form -->
    {% include url_for('templates', filename='components/binary_tree/contact_forms.html') %}

    <!-- Contact Details View -->
    {% include url_for('templates', filename='components/binary_tree/contact_details.html') %}

    <!-- Favorites View -->
    {% include url_for('templates', filename='components/binary_tree/favorites.html') %} 
</div>
