<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CircuiTech</title>

  <!-- CSS Links -->
  <link rel="stylesheet" href="../static/css/general-body.css">
  <link rel="stylesheet" href="../static/css/contacts.css">
  
  {% include 'components/fonts.html' %}

  <style>
    body {
        background-color: black;
    }
  </style>

  <script src="../static/js/side_bar.js"></script>

  </head>

<body>
  {% include 'components/sidebar.html' %}
  {% include 'components/header.html' %}

  <!-- OVERLAY -->
  <div id="overlay" class="overlay"></div>
<section class="main-section">
    <div class="content-wrapper">
        <div class="profile-row-wrapper">
            <h1 class="profile-title">PRO<br>&nbsp; FILES</h1>

            <div class="first-row-cards">
            <a class="card-item" href="{{url_for('profile', profile_id=0)}}">
              <img src="../static/images/von.png" alt="Profile 1" />
            </a>
            <a class="card-item" href="{{url_for('profile', profile_id=1)}}">
              <img src="../static/images/trowa.png" alt="Profile 2" />
            </a>
            <a class="card-item" href="{{url_for('profile', profile_id=2)}}">
              <img src="../static/images/shane.png" alt="Profile 3" />
            </a>
            <a class="card-item" href="{{url_for('profile', profile_id=3)}}">
              <img src="../static/images/kurt.png" alt="Profile 4" />
            </a>
            <a class="card-item" href="{{url_for('profile', profile_id=4)}}">
              <img src="../static/images/carl.png" alt="Profile 5" />
            </a>
        </div>
    </div>

    <div class="card-row bottom">
        <a class="card-item" href="{{url_for('profile', profile_id=5)}}">
        <img src="../static/images/ycz.png" alt="Profile 6" />
        </a>
        <a class="card-item" href="{{url_for('profile', profile_id=6)}}">
        <img src="../static/images/laika.png" alt="Profile 7" />
        </a>
        <a class="card-item" href="{{url_for('profile', profile_id=7)}}">
        <img src="../static/images/chloe.png" alt="Profile 8" />
        </a>
        <a class="card-item" href="{{url_for('profile', profile_id=8)}}">
        <img src="../static/images/chris.png" alt="Profile 9" />
        </a>
    </div>
    </div>
</body>
</html>
