<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CircuiTech</title>

  <!-- CSS Links -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/project-body.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/contacts.css')}}">

  {% include 'components/fonts.html' %}

  <style>
    body {
        background-color: black;
    }
  </style>
  
  <script src="{{url_for('static', filename='js/side_bar.js')}}"></script>
  <script src="{{url_for('static', filename='js/project.js')}}"></script>

</head>

<body>
  {% include 'components/header.html' %}
  <div id="sidebar-overlay" class="sidebar-overlay">
    {% include 'components/sidebar.html' %}
  </div>

  <div class="vertical-links">
    <div class="link-slider">
      <div class="slider-track">
        <div class="slide-link">
          <div class="link-box">
            <a href="#">QUEUE</a>
          </div>
          <div class="link-box">
            <a href="#">DEQUE</a>
          </div>
          <div class="link-box">
            <a href="#">BINARY-TREE</a>
          </div>
          <div class="link-box">
            <a href="#">BINARY SEARCH TREE</a>
          </div>
          <div class="link-box">
            <a href="#">5</a>
          </div>
          <div class="link-box">
            <a href="#">6</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- OVERLAY -->
  <div id="popup-overlay" class="popup-overlay-wrapper">
    {% include 'components/pop-up.html' %}
  </div>
  </body>
</html>
