<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CircuiTech</title>

  <!-- CSS Links -->
  <link rel="stylesheet" href="../static/css/project-body.css" />
  <link rel="stylesheet" href="../static/css/contacts.css">

  {% include 'components/fonts.html' %}

  <style>
    body {
        background-color: black;
    }
  </style>
  
  <script src="../static/js/side_bar.js"></script>
  <script src="../static/js/project.js"></script>

</head>

<body>
  {% include 'components/sidebar.html' %}
  {% include 'components/header.html' %}

  <div class="vertical-links">
    <div class="link-slider">
      <div class="slider-track">
        <div class="slide-link">
          <div class="link-box">
            <a href="/queue/init">QUEUE</a>
          </div>
          <div class="link-box">
            <a href="/deque/init">DEQUE</a>
          </div>
          <div class="link-box">
            <a href="#">3</a>
          </div>
          <div class="link-box">
            <a href="#">4</a>
          </div>
          <div class="link-box">
            <a href="#">5</a>
          </div>
          <div class="link-box">
            <a href="#">6</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- OVERLAY -->
  <div id="overlay" class="overlay"></div>
  </body>
</html>
