<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUEUE - Data Structure Visualizer</title>
    <link rel="stylesheet" href="../static/css/queue.css" />
    <link rel="stylesheet" href="../static/css/contacts.css">

    {% include 'components/fonts.html' %}

    <script src="../static/js/side_bar.js"></script>
</head>

<body>
  {% include 'components/sidebar.html' %}
  {% include 'components/header.html' %}

  <!-- OVERLAY -->
  <div id="overlay" class="overlay"></div>

    <div class="main-section">
        <h1>QUEUE</h1>

        <div class="queue-visual">
            <div id="output" class="output">
                {% for node in nodes %}
                    <span class="node">{{node}}</span>
                {% endfor %}
                <span class="node">X</span>
            </div>
        </div>

        <form action="/queue_update" method="post">
        <div class="search-section">
            <div class="search-container">
                <input type="text" id="mainInput" name="mainInput" class="search-input" autocomplete="off" placeholder="Enter value or search term...">
            </div>
        </div>

        <div class="controls">
            <div class="control-panel">
                <div class="control-header">FRONT</div>
                <div class="control-buttons">
                    <button class="btn" type="submit" name="button" value="dequeue">REMOVE</button>
                </div>
            </div>

            <div class="control-panel">
                <div class="control-header">REAR</div>
                <div class="control-buttons">
                    <button class="btn" type="submit" name="button" value="enqueue">ADD</button>
                </div>
            </div>
        </div>
        </form>
    </div>

    <script src="../static/js/node_overflow.js"></script>
    </body>
</html>
