<link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">

<div id="sidebar-overlay" class="sidebar-overlay"></div>

<nav id="sidebar" class="sidebar">
  <ul>
    <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
    <li><a href="/projects"><i class="fa-solid fa-diagram-project"></i> Projects</a></li>
    <li><a href="/profiles_menu"><i class="fa-solid fa-user"></i> Profile</a></li>
    <li><a href="/#contactform-section"><i class="fa-solid fa-address-book"></i> Contacts</a></li>
  </ul>
</nav>